.btn-slide {
  position: absolute;

  display: block;
  width: 16px;
  height: 32px;

  font-size: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &:focus {
    outline: none;
  }

  &--prev {
    background-image: url("../img/svg/arrow-left.svg");
  }

  &--next {
    background-image: url("../img/svg/arrow-right.svg");
  }
}

/*   mobile version   */
@media (max-width: $mobile-max) {
  .btn-slide {
    width: 20px;
    height: 20px;

    &--prev {
      background-position: left center;
    }

    &--next {
      background-position: right center;
    }
  }
}
