.foot {
  width: 100%;

  background-color: $color-bg-foot;
}

.foot__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 103px;

  a {
    color: $color-text-second;
    text-decoration: none;
  }

  a:focus {
    outline: 3px solid #ed0233;
  }
}

.foot__title {
  @include reset-head;

  font: 26px/26px "Bebas Neue", "Arial", sans-serif;

  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.foot__nav-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  font: 14px/16px "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.02;

  li {
    margin-left: 40px;

    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.foot__social-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 0;
}

.foot__social-item {
  margin-left: 25px;

  cursor: pointer;

  transition: 0.3s;

  a {
    display: block;
    width: 24px;
    height: 24px;
  }

  &--vk {
    width: 24px;
    height: 13px;

    background: url("../img/svg/social-vk.svg") no-repeat;
  }

  &--instagram {
    width: 24px;
    height: 24px;

    background: url("../img/svg/social-insta.svg") no-repeat;
  }

  &--fb {
    width: 12px;
    height: 24px;

    background: url("../img/svg/social-fb.svg") no-repeat;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

/*   tablet version   */
@media (max-width: $mw-tablet) {
  .foot__inner {
    padding: 45px;
  }

  .foot__title {
    margin-right: 15px;

    font: 24px/24px "Bebas Neue", "Arial", sans-serif;
  }

  .foot__nav-list {
    li {
      margin-left: 30px;
    }
  }

  .foot__social-item {
    margin-left: 20px;
  }
}

/*   mobile version   */
@media (max-width: $mw-mobile) {
  .foot__inner {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    padding: 50px 15px;
  }

  .foot__title {
    position: absolute;

    font: 20px/20px "Bebas Neue", "Arial", sans-serif;
  }

  .foot__nav-list {
    display: block;

    font: 16px/19px "Roboto Condensed", "Arial", sans-serif;
    columns: 2 auto;
    column-gap: 74px;

    li:first-child {
      margin-top: 40px;
    }

    li {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  .foot__social-item {
    margin-top: 18px;
    margin-right: 35px;
    margin-left: 0;

    a {
      width: 32px;
      height: 27px;
    }

    &--vk {
      width: 32px;
      height: 17px;

      background-size: contain;
    }

    &--instagram {
      width: 27px;
      height: 27px;

      background-size: contain;
    }

    &--fb {
      width: 14px;
      height: 27px;

      background-size: contain;
    }
  }
}
