.head-social__list {
  @include reset-list;

  position: absolute;
  right: 102px;
  bottom: 90px;
}

.head-social__item {
  margin-top: 14px;

  text-align: center;

  a {
    font: 12px/14px "Roboto Condensed", "Arial", sans-serif;
    color: $color-text-second;
    text-transform: uppercase;
    text-decoration: none;

    transition: 0.3s;

    &:hover {
      color: #003d85;
    }

    &:active {
      color: #000000;
    }

    &:focus {
      outline: 3px solid #003d85;
    }
  }
}

/*   tablet version   */
@media (max-width: $mw-tablet) {
  .head-social {
    display: none;
  }
}
