.head-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.head-header__link-site,
.head-header__link-tel {
  font: 700 26px/26px "Bebas Neue", "Arial", sans-serif;
  color: $color-text-second;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: 0.3s;

  &:hover {
    color: #003d85;
  }

  &:active {
    color: #000000;
  }

  &:focus {
    outline: 3px solid #003d85;
  }
}

/*   tablet version   */
@media (max-width: $mw-tablet) {
  .head-header__link-site,
  .head-header__link-tel {
    font-size: 24px;
    line-height: 24px;
  }
}

/*   mobile version   */
@media (max-width: $mw-mobile) {
  .head-header__link-site,
  .head-header__link-tel {
    font-size: 20px;
    line-height: 20px;
  }
}
