.page-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

/*   tablet version   */
@media (max-width: $tablet-max) {
  .page-footer {
    flex-direction: column;
    margin-top: 50px;
  }
}

/*   mobile version   */
@media (max-width: $mobile-max) {
  .page-footer {
    //
  }
}
