.reviews__inner {
  width: $desktop-min;
  margin: auto;
}

.reviews__slider {
  position: relative;

  box-sizing: border-box;
  max-width: 560px;
  margin: auto;
  padding: 60px 0;

  h2 {
    @include reset-head;

    margin-bottom: 50px;

    text-align: center;
  }

  .btn-slide--prev {
    top: 57%;
    left: -55px;
  }

  .btn-slide--next {
    top: 57%;
    right: -55px;
  }
}

.reviews__list {
  position: relative;

  display: flex;
  width: 100%;
  margin: auto;
  overflow: hidden;

  background-color: $color-dop;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.reviews__item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 62px 62px 59px;

  color: $color-text-second;

  picture {
    width: 80px;
    height: 80px;
  }

  img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
  }

  h3 {
    margin-top: -80px;
    margin-bottom: 13px;
    margin-left: 108px;

    font: 20px/20px "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
  }

  blockquote {
    margin: 0;
    margin-left: 108px;

    font: 16px/22px "Roboto Condensed", "Arial", sans-serif;
  }

  blockquote::before {
    content: "«";
  }

  blockquote::after {
    content: "»";
  }
}

/*   tablet version   */
@media (max-width: $tablet-max) {
  .reviews__inner {
    min-width: $tablet-min;
    width: auto;
    max-width: $tablet-max;
  }

  .reviews__slider {
    max-width: 566px;
    padding: 50px 0;

    h2 {
      margin-bottom: 40px;
    }
  }

  .reviews__item {
    padding-bottom: 59px;
  }
}

/*   mobile version   */
@media (max-width: $mobile-max) {
  .reviews__inner {
    min-width: $mobile-min;
  }

  .reviews__slider {
    max-width: 226px;
    padding: 20px 0;

    h2 {
      margin-bottom: 42px;
    }

    .btn-slide--prev {
      top: 56%;
      left: -32px;
    }

    .btn-slide--next {
      top: 56%;
      right: -32px;
    }
  }

  .reviews__item {
    padding: 40px 25px 38px;

    picture {
      width: 68px;
      height: 68px;
    }

    img {
      width: 68px;
      height: 68px;
      margin-left: 15px;
    }

    h3 {
      margin-top: -58px;
      margin-left: 98px;

      line-height: 26px;
    }

    blockquote {
      margin: 0;
      margin-top: 6px;

      text-align: center;
    }
  }
}
