html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-text-main;
}
