$desktop-min: 1366px;
$tablet-min: 768px;
$tablet-max: 1365px;
$mobile-min: 320px;
$mobile-max: 767px;
$dppx-2: "min-resolution: 1.5dppx";
$color-text-main: #102654;
$color-text-second: #ffffff;
$color-bg-light: #f8f9fc;
$color-bg-red: #ed0233;
$color-bg-blue: #010146;
$color-bg-foot: #030a1a;
$color-dop: #1c3374;
